<div class="stretch">

  <h1>Log In</h1>

  <div class="form">



  
  <%= form_for :user do |f| %>

    <label>E-mail Address: <%= f.text_field :email %></label><br>
    <label>Password: <%= f.password_field :password %></label><br>

  <%= f.submit 'Log In', :class => 'altbtn altbtn-lg altbtn-outline' %>
  <% end %>

  </div>

</div>