<div class="stretch">

  <h1>Please Enter Your Address</h1>

<table>
  <tr>
    <th>Name</th>
  </tr>
  <%= @users.each do |a| %>
    <tr>
      <td><%= a.email %></td>
    </tr>
  <% end %>
</table>


</div>